<div class="container"> 
  <div class="push-mid">
    <div class= "row justify-content-center">
        <%= inline_svg "logo-bg.svg"%>
    </div>
    <div class= "center-div" style= "margin-top: 10px">
      <%= form_tag({:controller => "search", :action => "index"}, :method => "get") do %>
        <div class="search-container searchbar">    
          <%= text_field_tag "q", nil, placeholder: "Gust it!", class:"form-control removeform-control-css searchbar searchbar-form-control white", required: true%>
          <%= fa_icon "search", class: "icon pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
