<!DOCTYPE html>
<html>
  <head>
    <title>CodeGUST</title>
    <%= stylesheet_link_tag "application" %> 
    <%= javascript_include_tag "application"  %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
